<launch>
<arg name="record_talker" default="false" />
<arg name="pub_rate" default="15" />
<node
pkg="beginner_tutorials"
type="talker"
name="talker" >
<param name="pub_rate" value="$(arg pub_rate)" />
</node>
<node
pkg="beginner_tutorials" type="listener"
name="listener"
/>
<node pkg="rosbag" type="record" name="rosbag_record_talker"
args="record -O $(find beginner_tutorials)/launch/sample.bag /chatter /rosout /rosout_agg /tf"
if="$(arg record_talker)" />
</launch>
